body {
    font-family: 'Google Sans', sans-serif;
    padding-bottom: 50px;
}
hr {
    background: #80808083;
    margin-bottom: 20px;
}

.link-block {
    margin-left: 3px;
    margin-right: 3px;
}

.img-block {
    margin: auto;
    max-width: 896px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.normal-item {
    max-width: 896px;
}

.caption {
    font-size: 0.9rem;
    margin-top: 8px;
    font-weight: bold;
}

.grid-container-1 {
    display: grid;
    grid-template-columns: 100%;
    padding: 2px;
    width: 80%;
}
.grid-container-4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 2px;
    width: 80%;
}
.grid-container-5 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 2px;
    width: 80%;
}
.grid-item {
    padding: 2px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display:flex;
}
.grid-text {
    padding: 2px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    display:flex;
}

img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

label {
  border: 1px solid #000;
  padding: 0;
  display: inline-block;
  position: relative;
  margin: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.float-button {
    position: fixed;
    right: 1%;
    z-index: 9999;
}
.vert {
    transform-origin: 50% 50%;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    margin: 0;
}
.carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel .carousel-indicators { visibility: hidden; }
.carousel:hover .carousel-indicators { visibility: visible; }

.w-85 {
    width: 85%!important;
}

.carousel-control-prev{
    width: 7%;
    filter: invert(100%);
}
.carousel-control-next{
    width: 7%;
    filter: invert(100%);
}
